@use '../abstracts/variables' as v;

body {
  font-family: v.$MPlus2;
  color: v.$color-text;
  background: v.$color-bg;
  line-height: 1.4;
  font-size: v.$fontsize-default;
}

section.section-wrapper {
  margin-bottom: calc(v.$spacing-unit * 10);
}